.credit-card {
    max-width: 420px;
    margin-top: 3rem;
}
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  

  .front,
  .back {
    position: relative;
    display: none;
  }
  
  .front img,
  .back img {
    width: 100%;
    height: auto;
  }
  

  